* {
    margin: 0;
    padding: 0;
}

/* heading or banner styles */
.heading-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px;
    height: 300px;
}

.heading-title {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
}

.heading-part {
    padding-right: 150 70px;
}

.heading-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 9px;
    font-weight: 400;
    padding: 25px 0;
}

.shop-btn {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.heading-flower-img {
    width: 300px;
    padding-top: 21px;

}

/* featured flower styles */

.featured-flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px 300px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    margin-top: 100px;
}

.featured-flower {
    height: 250px;
    width: 200px;
}

.feature-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    width: 37%;
    margin: auto;
    padding-top: 20px;
}

.featured-flower-img {
    width: 120px;
    padding: 84px 0 0 40px;
}

.img-two {
    width: 150px;
    padding-top: 80px;
    padding-left: 38px;
}

.img-three {
    width: 120px;
    padding-left: 40px;
    padding-top: 70px;
}

.one {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.two {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}

.three {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-item {
    text-align: center;
    padding: 15px;
    color: #272727;
    font-family: Lato;
    text-decoration-line: underline;

}

.flower-item-two {
    text-align: center;
    padding-top: 35px;
    color: #272727;
    font-family: Lato;
    text-decoration-line: underline;

}

/* Hot Deal styles */

.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    padding-right: 160px;
}

.hot-deal-box {
    text-align: center;
}

.hot-deal-title {

    color: #272727;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

span {
    color: rgba(229, 84, 115, 1);
}

.hot-deal-desc {
    width: 65%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.hot-img {
    width: 250px;
    padding: 100px 0;
}

/* Instagram styles,   100% webpage size! */

.insta-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    width: 35%;
    margin: auto;
    padding-top: 20px;
}

.insta-img-box {
    margin-left: 130px;
}


.insta-img {
    width: 240px;
    padding: 20px 6px;
}

/* Email styles */

.email-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 8px;
}



.email-box {
    background-image: url("../flower-asset/Rectangle-9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 75%;
    margin: auto;
    padding: 30px;
    margin-left: 137px;
    margin-top: 70px;
    margin-bottom: 70px;

}

input[type=email] {
    padding: 15px 0;
    padding-right: 100px;
    padding-left: 10px;
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 8px;
}

.input {
    margin-left: 220px;
}

/* Extra section styles  */

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 80px;
    margin-bottom: 30px;

}

.service-icon {
    width: 70px;
    margin-left: 320px;
}

.services-title {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-us{
    margin-bottom: 53px;
}

.about-icon {
    width: 80px;
    margin-left: 155px;
}

ul>li {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    /* list-style: none; */
    width: 75%;
    margin: auto;
    padding: 10px 0;

}
.learn-btn{
    margin-left: 290px;
    margin-top: 10px;
}

.about-btn{
    margin-top: 10px;
    margin-left: 141px;
}

/* footer styles  */

.footer-section {
    background-color: #111010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
}

.footer-title {

    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 12px;
    width: 70%;
    margin: auto;
    padding: 15px 0;
}

